<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <header>
    <div class="container">
      <h1>ASP.Net Core 5 Web API Sample</h1>
    </div>
  </header>

  <main>
    <div class="container">
      @RenderBody()
    </div>
  </main>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; Free-Side Software; Released under the MIT License.
    </div>
  </footer>

  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
