@{
  ViewData["Title"] = "Home Page";
}

<div>
  <h1>Welcome</h1>
  <p>
    View the code for this application on <a href="https://replit.com/@@KumuPaul/aspnet-core-5-api">Replit.com</a>.
  </p>
</div>